*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}
img {
    width: 100%;
    height: auto;
    display: block;
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.large-hero {
    position: relative;
    border-bottom: 10px solid #2f5572;

}
.large-hero__img {
        display: block;
        height: 95vh;
        width: 100%;
    }
.large-hero__text-content {
        position: absolute;
        padding: 1rem;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
        background-color: rgba(47,85,114, 0.3);
    }
.large-hero__title {
        font-size: 5.5rem;
        font-weight: 300;
        line-height: 1.2;

    }
.large-hero__title span {
            color: #d59541;
            font-size: 6rem;
            font-weight: 400;
        }
.large-hero__subtitle {
        font-size: 2.5rem;
        font-weight: 300;
    }
.large-hero__description {
        font-size: 1.6rem;
        text-shadow: 2px 2px 0 rgba(0,0,0,.2);
        padding-bottom: 2rem;
    }
.wrapper {
    overflow: hidden;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}
.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #d59541;
    padding: 1rem 2.5rem;
    border-radius: 3px;
    color: #fff;
    font-size: 2rem;
}
.btn--centered {
        display: table;
        margin: 0 auto;
    }
.reservation__wrapper {
        position: relative;
        margin-top: -9.5rem;
        z-index: 99;
        
    }
.reservation__search-form {
        background: #fff;
        box-shadow: 0 2px 10px rgba(0,0,0, .2);
        display: flex;
        align-content: space-between;
        padding: 3rem 4.5rem;
        max-width: 117rem;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
.reservation__search-form::before {
            content: '';
            position: absolute;
            top: -1.7rem;
            left: -1.7rem;
            border-left: transparent;
            border-top: transparent;
            border-bottom: #eaeaea;
            border-style: solid;
            border-width: 1.7rem;
            border-right: transparent;
            border-bottom-width: 3.5rem;
        }
.reservation__search-form::after {
            content: '';
            position: absolute;
            top: -1.7rem;
            right: -1.7rem;
            border-top: transparent;
            border-right: transparent;
            border-bottom: #eaeaea;
            border-style: solid;
            border-width: 1.7rem;
            border-left: transparent;
            border-bottom-width: 3.5rem;
        }
.reservation__list {
        list-style: none;
        display: flex;
        width: 80%;
    }
.reservation__item {
        position: relative;        
        width: 25%;
        padding: 0 1rem;
    }
.reservation__item-content {
        position: relative;
    }
.reservation__item-input {
        height: 4rem;
        width: 100%;
        min-width: auto;
        line-height: 4rem;
        padding-right: 2rem;
        padding-left: 0.8rem;
        border: 1px solid #cccccc;
        border-radius: 3px;
        font-family: inherit;
        font-size: 1.5rem;
        text-decoration: none;
        color: #7a7a7a;
        box-shadow: none;
        outline: 0;
    }
.reservation__item-button {
        position: absolute;
        top: 0;
        left: 0;
        text-align: right;
        cursor: pointer;
        display: inline;
        width: 100%;
        min-width: auto;
        line-height: 4rem;
        color: #aaaaaa;
        background: transparent;
        border-color: transparent;
        box-shadow: none;
        outline: 0;
    }
.reservation__item-icon {
        padding-right: 1rem;
    }
.reservation__button {
        box-shadow: none;
        outline: 0;
        
    }
.headline {

    color: #2f5572;
    font-size: 2.5rem;
    text-shadow: 0 2px 0 rgba(47,85,114, 0.2);
    margin: 2rem 0;
}
.headline--centered {
        text-align: center;
    }
.headline--thin {
        font-weight: 300;
    }
.headline-primary {
        font-size: 4rem;
        font-weight: 400;
        color: #2f5572;
        text-transform: uppercase;
    }
.headline-primary span {
            font-size: 4.5rem;
            font-weight: 500;
            color: #d59541;
        }
.headline-primary--centered {
            text-align: center;
        }
.headline-secondary {
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 1.6rem;
        font-weight: 400;
    }
.headline-secondary--orange {
            color: #d59541;
        }
.divider {
    width: 25rem;
    height: 3px;
    background-color: #d59541;
    margin: 2rem auto;  
    position: relative;
    overflow: visible;
    display: block;
    border: 0;
}
.divider:before {
        content: " ";
        width: 7rem;
        height: 2px;
        background-color: #d59541;
        position: absolute;
        top: -1rem;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);        
    }
.divider:after {
        content: " ";
        width: 7rem;
        height: 2px;
        background-color: #d59541;
        position: absolute;
        top: 1.2rem;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);        
    }
.divider--m-bottom {
        margin-bottom: 6rem;
    }
.page-section {
    margin: 5rem 0;
}
.page-section--blue {
        background-color: #2f5572;
        color: #ffffff;
    }
.row {
    position: relative;
}
.row::after {
        content: '';
        clear: both;
        display: table;
    }
@media(min-width: 800px) {
        .row__medium-4 {
            float: left;
            width: 33.33333%;
        }

        .row__medium-5 {
            float: left;
            width: 41.6666%;
        }

        .row__medium-6 {
            float: left;
            width: 50%;
        }

        .row__medium-7 {
            float: left;
            width: 58.3333%;
        }

        .row__medium-8 {
            float: left;
            width: 66.6666%;
        }
    }
.row--gutters {
        margin-right: -6.5rem;
    }
.row--gutters > div {
        padding-right: 6.5rem;
    }
.row--gutters-small {
        margin-right: -2.5rem;
    }
.row--gutters-small > div {
        padding-right: 2.5rem;
    }
.row--gutters-large {
        margin-right: -10rem;
    }
.row--gutters-large > div {
        padding-right: 10rem;
    }
.generic-content-container {
    padding: 2rem 4rem;
    margin-bottom: 1rem;
}
.generic-content-container--box-shadow {
        box-shadow: 0 0.5rem 1rem rgba(0,0,0, 0.2);

    }
.generic-content-container p {
        font-size: 1.5rem;
        line-height: 1.8;
        font-weight: 300;
        margin: 0 0 1.8rem 0;
    }
.generic-content-container p a {
        font-weight: 700;
    }
.generic-content-container .quote {
        padding: 1rem 0;
        margin: 1rem 0;
        font-size: 1.8rem;
        font-weight: 400;
        font-style: italic;
        line-height: 2;
        border-top: 1px solid #2f5572;
        border-bottom: 1px solid #2f5572;
        margin-bottom: 5rem;
    }
.about-us__img {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);    
}
.best-rooms {
    position: relative;
    overflow: hidden;
    margin-bottom: 2.5rem;
}
.best-rooms:hover .best-rooms__caption {
        background: rgba(0,0,0, 0.6);
    }
.best-rooms__caption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        padding: 3rem 3rem;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.1) 50%, transparent 100%);
        transition: background-color 0.3s;
    }
.best-rooms__title {
        font-size: 2.4rem;
        font-weight: 400;
        border-bottom: 2px solid #d59541;
        margin-bottom: 0.5rem;
        padding-bottom: 0.7rem;
        position: relative;
        -webkit-transform: translateY(23rem);
                transform: translateY(23rem);
        transition: -webkit-transform 0.4s ease-out;
        transition: transform 0.4s ease-out;
        transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
        transition-delay: 0.45s;
    }
.best-rooms:hover .best-rooms__title {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        transition-delay: 0.1s;
    }
.best-rooms__price {
        font-size: 2.4rem;
        margin-bottom: 1rem;
        font-weight: 400;
        -webkit-transform: translateY(23rem);
                transform: translateY(23rem);
        transition: -webkit-transform 0.4s ease-out;
        transition: transform 0.4s ease-out;
        transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
        transition-delay: 0.4s;
    }
.best-rooms__price span {
            font-size: 1.4rem;
        }
.best-rooms:hover .best-rooms__price {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        transition-delay: 0.2s;
    }
.best-rooms__desc {
        position: relative;
        font-size: 1.4rem;
        line-height: 1.5;
        margin-top: 3rem;
        margin-bottom: 5rem;
        -webkit-transform: translateY(3rem);
                transform: translateY(3rem);
        transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        transition-delay: 0.2s;
        opacity: 0;
    }
.best-rooms:hover .best-rooms__desc {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
        transition-delay: 0.4s;
    }
.best-rooms__link:link,
    .best-rooms__link:visited {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #d59541;
        font-size: 1.6rem;
        opacity: 0;
        transition: opacity 0.3s;
    }
.best-rooms__link:link:hover i, .best-rooms__link:visited:hover i {
            -webkit-transform: translateX(2rem);
                    transform: translateX(2rem);
            opacity: 0;
            transition: all 0.2s;
        }
.best-rooms:hover .best-rooms__link:link,
    .best-rooms:hover .best-rooms__link:visited {
        opacity: 1;
        transition-delay: 0.4s;
    }
.section-tittle {
    font-size: 5.5rem;
    font-weight: 300;
    text-align: center;
}
.section-tittle strong {
        font-weight: 500;
        color: #d59541;
    }
.our-services-item__tittle {
        font-size: 3rem;
        font-weight: 300;
        text-align: center;
        margin: 1rem 0;
    }
.our-services-item__icon {
        display: block;
        margin: 1rem auto;
        width: 5rem;
        height: 5rem;
        color: #d59541;
    }
