.btn {
    display: inline-block;
    text-decoration: none;
    background-color: $mainOrange;
    padding: 1rem 2.5rem;
    border-radius: 3px;
    color: #fff;
    font-size: 2rem;

    &--centered {
        display: table;
        margin: 0 auto;
    }
}