.headline {

    color: $mainBlue;
    font-size: 2.5rem;
    text-shadow: 0 2px 0 rgba($mainBlue, 0.2);
    margin: 2rem 0;

    &--centered {
        text-align: center;
    }

    &--thin {
        font-weight: 300;
    }

    &-primary {
        font-size: 4rem;
        font-weight: 400;
        color: $mainBlue;
        text-transform: uppercase;

        span {
            font-size: 4.5rem;
            font-weight: 500;
            color: $mainOrange;
        }

        &--centered {
            text-align: center;
        }
    }

    &-secondary {
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 1.6rem;
        font-weight: 400;

        &--orange {
            color: $mainOrange;
        }
    }
}