.large-hero {
    position: relative;
    border-bottom: 10px solid $mainBlue;

    &__img {
        display: block;
        height: 95vh;
        width: 100%;
    }

    &__text-content {
        position: absolute;
        padding: 1rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
        background-color: rgba($mainBlue, 0.3);
    }

    &__title {
        font-size: 5.5rem;
        font-weight: 300;
        line-height: 1.2;

        span {
            color: $mainOrange;
            font-size: 6rem;
            font-weight: 400;
        }

    }

    &__subtitle {
        font-size: 2.5rem;
        font-weight: 300;
    }

    &__description {
        font-size: 1.6rem;
        text-shadow: 2px 2px 0 rgba(0,0,0,.2);
        padding-bottom: 2rem;
    }

}