.our-services-item {

    &__tittle {
        font-size: 3rem;
        font-weight: 300;
        text-align: center;
        margin: 1rem 0;
    }

    &__icon {
        display: block;
        margin: 1rem auto;
        width: 5rem;
        height: 5rem;
        color: $mainOrange;
    }
}