.row {
    @mixin clearFix;
    position: relative;

    @mixin atMedium {
        &__medium-4 {
            float: left;
            width: 33.33333%;
        }

        &__medium-5 {
            float: left;
            width: 41.6666%;
        }

        &__medium-6 {
            float: left;
            width: 50%;
        }

        &__medium-7 {
            float: left;
            width: 58.3333%;
        }

        &__medium-8 {
            float: left;
            width: 66.6666%;
        }
    }

    &--gutters {
        margin-right: -6.5rem;
    }

    &--gutters > div {
        padding-right: 6.5rem;
    }

    &--gutters-small {
        margin-right: -2.5rem;
    }

    &--gutters-small > div {
        padding-right: 2.5rem;
    }

    &--gutters-large {
        margin-right: -10rem;
    }

    &--gutters-large > div {
        padding-right: 10rem;
    }
}